@media screen and (min-width: 1000px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .textoverlay {
    width: 75%;
  }
  #header_row{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #row1 {
    width: 100%;
  }
  #row2 {
    width: 33.3333%;
  }
  #row3 {
    width: 33.3333%;
  }
  #row4 {
    width: 33.3333%;
  }
}
